@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

@font-face{
    font-family : "menu";
    src : url('../fonts/LemonMilk.otf');

    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

body
{
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", serif, arial;
}

header
{
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0;
  position: absolute;
  left: 0;
  background-color: rgb(160,160,255);
  z-index: 3;
}

#bordure
{
  position: absolute;
  background-color: rgb(200,200,200);
  top: 100px;
  height: auto;
  min-width: 210px;
  bottom:25px;
  border-right: 1px solid #d4d4d4;

}

#header_img
{
    width:100%;
    height:100px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.liens
{
  margin-left: 35px
}

.onglets
{

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(200,200,255);
  margin-top: -3px;
  margin-bottom: -3px;
  transition: padding 0.5s, background-color 0.5s;
  font-family: "menu";
  font-size: 14px;
}

.onglets p
{
  padding-top: 4px;
  padding-bottom: 2.3px;
}

.onglets:hover
{
  background-color: rgb(110,110,255);
  padding-right: 20px;

}

.onglets:hover p
{
  margin-left: 20px;
}

a
{
  text-decoration: none;
}

a:visited
{
  color : #320001;
}

#menu
{
  margin-left: 10px;
  background-color: rgb(190,190,255);
  color: #222;
  margin-top: 10px;
  top: 150px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 9px 0px rgb(190,190,255);
  -moz-box-shadow: 0px 0px 9px 0px rgb(190,190,255);
  box-shadow: 0px 0px 9px 0px rgb(190,190,255);

}

#copyright
{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;;
  background-color: rgb(200,200,200);
  opacity: 0.8;
  text-align: center;
  color: rgb(70,70,255);

}

#copyright p
{
  padding: 0;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

#canvas
{
  position: absolute;
  top: 0px;
  left:0px;
}

#content
{
  position: absolute;
  top:120px;
  left:230px;
  border: 1px solid rgb(230,230,230);
  background-color: rgb(240,240,240);
  z-index: 0;
  width:50%;
}

#user_info
{
  z-index: 999;
  position: fixed;
  top:5px;
  left:5px;
  background-color: rgba(200,200,200,0.7);
  /*border: 1px solid rgb(200,200,200);*/
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  border-radius: 3px 3px 30px 3px;
  -moz-border-radius: 3px 3px 30px 3px;
  -webkit-border-radius: 3px 3px 30px 3px;
}

#user_profil
{
  width: 32px;
  height: auto;
  vertical-align: middle;
}

#user_hello
{
  font-family: "Didact Gothic";
  padding-left: 5px;
  padding-right: 5px;
}

a
{
  text-decoration: none;
  color:black;
}

#logout
{
  margin-top: -10px;
  text-align: center;
  font-family: "Didact Gothic";
}

/*************************************************
*****************   LOGIN STYLE  *****************
*************************************************/



/*************************************************
*****************   FORM STYLE   *****************
*************************************************/

#form_container
{
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(160,160,255);
  height: 300px;
}

.form_item
{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#form_title
{
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(130,130,255);
  color:white;
}

#form_submit
{
  position: relative;
  text-align: center;
}

.form_text_small_style
{
  width: 10%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(238,238,255);
  padding: 5px 5px 5px 5px;
  font-family: "Didact Gothic";
}
.form_text_small_style:hover{background-color: white;}

.form_text_normal_style
{
  width:40%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(238,238,255);
  padding: 5px 5px 5px 5px;
  font-family: "Didact Gothic";
}
.form_text_normal_style:hover{background-color: white;}

.form_textarea_large_style
{
  width:90%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  resize: none;
  font-family: "Didact Gothic";
}.form_textarea_large_style:hover{background-color: white;}

textarea::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.5em;
  text-align: center;
  padding-top: 50px;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
  text-align: center;
  padding-top: 50px;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 1.5em;
  text-align: center;
  padding-top: 50px;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: 1.5em;
  text-align: center;
  padding-top: 50px;
}

.form_button_normal_style
{
  width:15%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(238,238,255);
  padding: 5px 5px 5px 25px;
  transition: width 0.3s, padding 0.3s;
  font-size:16px;
  font-weight: bold;
  background-image: url('../images/icon_send.png');
  background-size: 20px 20px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  font-family: "Didact Gothic";
}

.form_button_normal_style:hover
{
  padding: 10px 10px 10px 10px;
  width:30%;
  background-color: rgb(255,255,255);
}

.form_button_big_style
{
  width:30%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(238,238,255);
  padding: 5px 5px 5px 25px;
  transition: width 0.3s, padding 0.3s;
  font-size:16px;
  font-weight: bold;
  background-image: url('../images/icon_send.png');
  background-size: 20px 20px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  font-family: "Didact Gothic";
}

.form_button_big_style:hover
{
  padding: 10px 10px 10px 10px;
  width:45%;
  background-color: rgb(255,255,255);
}
