@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

@font-face{
    font-family : "menu";
    src : url('../fonts/LemonMilk.otf');

    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

body
{
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", serif, arial;
}

header
{
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0;
  position: absolute;
  left: 0;
  background-color: rgb(160,160,255);
  z-index: 3;
}

#bordure
{
  position: absolute;
  background-color: rgb(200,200,200);
  top: 100px;
  height: auto;
  min-width: 210px;
  bottom:25px;
  border-right: 1px solid #d4d4d4;

}

.image
{
    width:auto;
    height:98px;
    margin-left: 500px;
}

.liens
{
  margin-left: 35px
}

.onglets
{

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(200,200,255);
  margin-top: -3px;
  margin-bottom: -3px;
  transition: padding 0.5s, background-color 0.5s;
  font-family: "menu";
  font-size: 14px;
}

.onglets p
{
  padding-top: 4px;
  padding-bottom: 2.3px;
}

.onglets:hover
{
  background-color: rgb(110,110,255);
  padding-right: 20px;

}

.onglets:hover p
{
  margin-left: 20px;
}

a
{
  text-decoration: none;
}

a:visited
{
  color : #320001;
}

#menu
{
  margin-left: 10px;
  background-color: rgb(190,190,255);
  color: #222;
  margin-top: 10px;
  top: 150px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 9px 0px rgb(190,190,255);
  -moz-box-shadow: 0px 0px 9px 0px rgb(190,190,255);
  box-shadow: 0px 0px 9px 0px rgb(190,190,255);

}

#copyright
{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;;
  background-color: rgb(200,200,200);
  opacity: 0.8;
  text-align: center;
  color: rgb(70,70,255);

}

#copyright p
{
  padding: 0;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

#canvas
{
  position: absolute;
  top: 200px;
  left:400px;
}

#content
{
  position: absolute;
  top:120px;
  left:230px;
  margin-left: 10px;
  border: 1px solid rgb(230,230,230);
  background-color: rgb(240,240,240);
  z-index: 0;
}

#user_info
{
  z-index: 999;
  position: fixed;
  top:5px;
  left:5px;
  background-color: rgba(200,200,200,0.7);
  /*border: 1px solid rgb(200,200,200);*/
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
  border-radius: 3px 3px 30px 3px;
  -moz-border-radius: 3px 3px 30px 3px;
  -webkit-border-radius: 3px 3px 30px 3px;
}

#user_profil
{
  width: 32px;
  height: auto;
  vertical-align: middle;
}

#user_hello
{
  font-family: "Didact Gothic";
  padding-left: 5px;
  padding-right: 5px;
}

a
{
  text-decoration: none;
  color:black;
}

#logout
{
  margin-top: -10px;
  text-align: center;
  font-family: "Didact Gothic";
}
